    body{
      margin: 0px;
      background: #001EC1;
      background: linear-gradient(0deg,rgba(0, 30, 193, 1) 85%, rgba(0, 118, 216, 1) 100%);
    }

    .label {
      color: #ffffff;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      margin-top: 7px;
      display: inline-block;
      width:123px;
      font-size: 14px;

    }

    .thumbnail-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* always 2 columns */
        justify-items: center;
        background-color: white;
        width: 100%;
        margin: auto;
        padding: 0px 27px;
        box-sizing: border-box;
    }
    
    /* === Thumbnail Image === */
    .thumbnail-img {
        width: 142px;
        height: 135px;
        object-fit: cover;
        display: block;
        margin: 0 auto;

    }

    .thumbnail-img:hover {
        transform: scale(1.05);
    }
        
    .thumbnail-link {
      cursor: pointer;
      display: inline-block;
      text-align: center;
      transition: border 0.2s, box-shadow 0.2s;
      /* set the border of the choose button*/
      padding: 9px;
      margin: 13px;
      background-color:#2957aa;
    }
    
    .thumbnail-link.selected  {
      border: 6px solid rgb(239, 120, 0);
      padding: 5px;

    }
    
    #view-model-btn {
      position: fixed;
      bottom: 21px; /* Distance from the bottom of the screen */
      left: 50%;
      transform: translateX(-50%);
      width: 130px;
      height: 130px;
      font-size: 27px;
      color: white;
      cursor: pointer;
      z-index: 100;
    }

    .hosokawalogo{
      height: 88px;
      width: 119px;
    }

    .logo {
      font-size: 36px;
      padding: 29px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-align: center;     
    }

    .foot {
      background-color: #143c88;
      width: 100%;
      height: 82px;
      text-align: center;
      margin: 0 auto;         /* centraliza como o container */
      box-sizing: border-box;
    }
    
    .title {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 601px;
      font-family: "novecento-sans", sans-serif;
      color: #e0e0e0;
      margin:auto;
      width: auto;
    }

    .brand {
        display: inline;
        color: black;
    }

    .catalog {
        display: block;
        color: #e0e0e0;
        font-size: 37px;
    }


    /* Optional: Shrink button slightly on smaller screens */
    @media screen and (max-width: 600px) and (orientation: landscape){
      #view-model-btn {
        width: 100px;
        height: 100px;
        font-size: 24px;
        color: #e0e0e0;
      }
      .thumbnail-container {
        max-width: 600px;
        width: 50%;
      }
    }